<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Memgraph Style Guide</title>
    <link rel="stylesheet" href="css/memgraph-foundation.css">
    <link rel="stylesheet" href="assets/libs/fontello/css/fontello.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/arta.min.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">

    <!-- Style guide-specific CSS goes here. -->
    <style>
        .banner-gradient {
            background-image: linear-gradient(136deg, #FFC500 0%, #FB6E00 33%, #720096 100%);
            color: #fff;
            margin-bottom: 20px;
            padding: 40px;
            width: 100%;
        }

        .banner-gradient p {
            color: #fff;
        }

        .menu h6 {
            margin: 12px 0 0 20px;
        }

        .color {
            display: block;
            width: 80px;
            height: 80px;
            border: 3px solid #fff;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
        }

        .tabs-content section > h1 {
            margin: 30px 0;
            border-bottom: 1px solid #efefef;
        }

        .tabs-content section:first-child > h1 {
            margin-top: 0;
        }

        .the-icons {
            width: 25%;
        }
    </style>
</head>
<body>

<nav data-sticky-container>
    <div data-sticky data-options="marginTop:0;" class="nav-main fadein">
        <div class="title-bar sticky">

            <div class="top-bar-left">
                <ul class="menu">
                    <li>
                        <a class="top-bar-title" href="/">
                            <img src="assets/img/img-logo-mark.svg" width="44" height="44" alt="Memgraph logo">
                        </a>
                    </li>
                    <li class="menu-text">Style Guide</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="demo-general.html">Demo template</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="banner-gradient">
    <h1>Memgraph Style Guide</h1>
    <p class="lead">This style guide was built with Foundation for Sites. For more information on how to use this
        responsive front-end framework, check out the documentation, get help from the Foundation community, or request
        immediate technical support.</p>
    <a href="http://foundation.zurb.com/sites/docs/" class="button secondary">Visit the Docs</a>
    <a href="http://foundation.zurb.com/sites/forum/" class="button hollow secondary">Foundation Forum</a>
    <a href="https://foundation.zurb.com/get-involved/support.html" class="button hollow secondary">Technical
        Support</a>
</div>

<div class="grid-x grid-padding-x">
    <div class="large-3 medium-4 cell">
        <dl class="vertical tabs card-section" data-tab>
            {{#each pages}}
                <dd{{#if @first}} class="active"{{/if}}><a href="#{{ anchor }}">{{ title }}</a></dd>
            {{/each}}
        </dl>
    </div>
    <div class="large-9 medium-8 cell">
        <div class="tabs-content card-section">
            {{#each pages}}
                <section class="content {{#if @first}}active{{/if}}" id="{{ anchor }}">
                    {{ body }}
                </section>
            {{/each}}
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../node_modules/foundation-sites/dist/js/foundation.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
    $(document).foundation();
    $(document).ready(function () {
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>
</body>
</html>
